{% extends 'student_base.html' %}
{% load staticfiles %}
{% load features %}

{% block content %}

<div class="jumbotron">
  <h1>Upcoming Exams</h1>
</div>

<table class="table">
    <thead>
        <th>#</th>
        <th>Exam Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Duration</th>
        <th>Take Exam</th>
    </thead>
    <tbody>
        {% for exam in candidate_exams %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{exam.exam_name}}</td>
                <td>{{exam.start_date}}</td>
                <td>{{exam.end_date}}</td>
                <td>{{exam.duration | duration_filter}}</td>
                <td><a href="#" class="badge badge-pill badge-primary">Start This Exam</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}