{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container" style="margin-top:2em; margin-bottom:2em;">
    <div class="row justify-content-md-center">
        <div class="col-12 col-lg-4">
            <br>
            <h2>Change password</h2>
            <hr>
        </div>
    </div>
{{help_text}}
    <div class="row justify-content-md-center">
        <div class="col-12 col-lg-4">
            <form name="signupForm" method="post" action="{% url 'password_change' %}">
            {% csrf_token %}

            {% if form.old_password.errors %}
            <div class="form-group has-error">
                <label for="{{form.old_password.name}}">Old password</label>
                <input type="password" class="form-control" name="old_password" placeholder="old password" required>
                <div class="form-control-feedback text-danger">{{form.old_password.errors.0}}</div>
            </div>
            {% else %}
            <div class="form-group">
                <label for="{{form.old_password.name}}">Old Password</label>
                <input type="password" class="form-control" name="old_password" placeholder="old password" required>
            </div>
            {% endif %}

            {% if form.new_password1.errors %}
            <div class="form-group" ng-class="{'has-danger': signupForm.new_password1.$invalid || new_password1 == '{{form.new_password1.value}}', 'has-success': signupForm.new_password1.$valid}">
                <label for="{{form.new_password1.name}}">{{form.new_password1.label}}</label>
                <input type='password' class="form-control" name="new_password1"
                ng-model="new_password1"
                ng-init="new_password1='{{form.new_password1.value | empty}}'"
                ng-class="{'form-control-danger': signupForm.new_password1.$invalid || new_password1 == '{{form.new_password1.value}}', 'form-control-success': signupForm.new_password1.$valid}" 
                placeholder="new password" required password-directive>
                <div class="form-control-feedback text-danger"><small>{{form.new_password1.errors}}</small></div>
            </div>
            {% else %}
             <div class="form-group" ng-class="{'has-warning': signupForm.new_password1.$invalid && !signupForm.new_password1.$pristine, 'has-success': signupForm.new_password1.$valid}">
                <label for="{{form.new_password1.name}}">{{form.new_password1.label}}</label>
                <input type='password' class="form-control" name="new_password1"
                ng-model="new_password1"
                ng-init="new_password1='{{form.new_password1.value | empty}}'"
                ng-class="{'form-control-warning': signupForm.new_password1.$invalid && !signupForm.new_password1.$pristine, 'form-control-success': signupForm.new_password1.$valid}" 
                placeholder="new password" required password-directive>
            <div ng-show="signupForm.new_password1.$invalid && !signupForm.new_password1.$pristine" class="form-control-feedback"><small>Password must contain at least 1 symbol, 1 uppercase character, 1 lowercase character and be at least 8 characters or more in length.</small></div>
            </div>
            {% endif %}
            {% if form.non_field_errors %}
            <div class="form-group" ng-class="{'has-danger': new_password1 !== new_password2, 'has-success': new_password1 == new_password2}">
                <label for="{{form.new_password2.name}}">{{form.new_password2.label}}</label>
                <input type='password' class="form-control form-control-danger"
                ng-model="new_password2" name="new_password2"
                ng-class="{'form-control-danger': new_password1 !== new_password2, 'form-control-success': new_password1 == new_password2}"                
                placeholder="re-enter new password" value="{{form.new_password2.value | empty}}" required>
            <div ng-show="new_password1 !== new_password2" class="form-control-feedback text-danger"><small>Passwords don't match.</small></div>
            </div>
            {% else %}
            <div class="form-group" ng-class="{'has-warning': new_password1 !== new_password2 && !signupForm.new_password2.$pristine, 'has-success': new_password1 == new_password2 && !signupForm.new_password2.$pristine}">
                <label for="{{form.new_password2.name}}">{{form.new_password2.label}}</label>
                <input type='password' class="form-control"
                ng-model="new_password2" name="new_password2"
                ng-class="{'form-control-warning': !signupForm.new_password2.$pristine && new_password1 !== new_password2, 'form-control-success': new_password1 == new_password2 && !signupForm.new_password2.$pristine}"
                placeholder="re-enter new password"
                value="{{form.new_password2.value | empty}}" required>
            <div ng-show="new_password1 !== new_password2 && !signupForm.new_password2.$pristine" class="form-control-feedback"><small>Passwords don't match.</small></div>
            </div>
            {% endif %}
            <div class="form-group">
                <input class="form-control btn btn-success" type="submit" value="Create Account" />
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}