{% extends 'dashboard.html' %}

{% load staticfiles %}

{% block content %}

<h3 class="display-4">Candidates</h3>
<hr>

<div class="row">
    <div class="col-3">
        <a href="/dashboard/candidates/" class="btn btn-block btn-success">Candidate List</a>
    </div>
    <div class="col-3">
        <a href="/dashboard/candidates/create" class="btn btn-block btn-info">Create New Candidate</a>
    </div>
    <div class="col-3">
        <a href="/dashboard/candidates/add-group/" class="btn btn-block btn-warning">Add New Group</a>
    </div>    
</div>

<br />

<div class="row" id="exam-table">
    <div class="col-12">
        <table class="table">
            <thead>
                <th>id</th>
                <th>Candidate Name</th>
                <th>Group</th>
                <th>Username</th>
                <th>Details</th>
                <th>Change</th>
            </thead>
            <tbody>
                {% for candidate in candidates %}
                    <tr>
                        <td>{{candidate.id}}</td>
                        <td>{{candidate.first_name}} {{candidate.last_name}}</td>
                        <td>{{candidate.candidate_group}}</td>
                        <td>{{candidate.user_email}}</td>
                        <td><a href="#">view</a></td>
                        <td><a href="#">edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
