{% extends 'dashboard.html' %}

{% block content %}
<h3 class="display-4">Questions Bank</h3>
<hr>
{% if form.errors %}
    <p>{{form.errors.as_json}}</p>
{% endif %}

<div class="row">
    <div class="col-3">
        <a href="/dashboard/question-bank/" class="btn btn-block btn-success">Question Bank</a>
    </div>
    <div class="col-3">
        <a href="/dashboard/question-bank/create" class="btn btn-block btn-info">Create New Question</a>
    </div>
    <div class="col-3">
        <a href="/dashboard/question-bank/add-section/" class="btn btn-block btn-warning">Add New Section</a>
    </div>
</div>

<br />

<form name="EditForm" action="" method="POST">
    {% csrf_token %}
    <h3>1. Question</h3>
    <br />
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="id_{{form.question_type.name}}">{{form.question_type.label}}</label>
                <select class="form-control" id="id_{{form.question_type.name}}" name="{{form.question_type.name}}">
                    <option value="">Select</option>
                    <option value="MultipleChoice" selected="selected">Multiple Choice</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="id_{{form.section.name}}">{{form.section.label}}</label>
                <select class="form-control" name="{{form.section.name}}" id="id_{{form.section.name}}">
                    <option value="">Select</option>
                    {% for section in question_sections %}
                        {% if section.section_name == question.section %}
                        <option value="{{section.section_name}}" selected="selected">{{section.section_name}} ({{section.question_count}})</option>
                        {% else %}
                        <option value="{{section.section_name}}">{{section.section_name}} ({{section.question_count}})</option>                        
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="from-group">
                <label for="id_{{form.question_text.name}}">{{form.question_text.label}}</label>
                <textarea name="{{form.question_text.name}}" class="form-control">{{question.question_text}}</textarea>
            </div>
        </div>
    </div>
    <h3>2. Answers</h3>
    <br />
    <div class="row">
        <div class="col-6">
            <label for="id_{{form.answer_field_1.name}}">{{form.answer_field_1.label}}</label>
            <input name="{{form.answer_field_1.name}}" value="{{question_by_type.answer_field_1}}" class="form-control" id="id_{{form.answer_field_1.name}}" maxlength="255" type="text">
        </div>
        <div class="col-6">
            <label for="id_{{form.answer_field_2.name}}">{{form.answer_field_2.label}}</label>
            <input name="{{form.answer_field_2.name}}" value="{{question_by_type.answer_field_2}}" class="form-control" id="id_{{form.answer_field_2.name}}" maxlength="255" type="text">
        </div>
        <div class="col-6">
            <label for="id_{{form.answer_field_3.name}}">{{form.answer_field_3.label}}</label>
            <input name="{{form.answer_field_3.name}}" value="{{question_by_type.answer_field_3}}" class="form-control" id="id_{{form.answer_field_3.name}}" maxlength="255" type="text">
        </div>
        <div class="col-6">
            <label for="id_{{form.answer_field_4.name}}">{{form.answer_field_4.label}}</label>
            <input name="{{form.answer_field_4.name}}" value="{{question_by_type.answer_field_4}}" class="form-control" id="id_{{form.answer_field_4.name}}" maxlength="255" type="text">
        </div>
    </div>
    <h3>3. Options</h3>
    <br />
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="id_{{form.correct_answer.name}}">{{form.correct_answer.label}}</label>
                <select name="{{form.correct_answer.name}}" class="form-control" id="id_{{form.correct_answer.name}}">
                    {% if question_by_type.correct_answer == "A" %}
                    <option value="A" selected="selected">A</option>
                    {% else %}
                    <option value="A">A</option>
                    {% endif %}
                    {% if question_by_type.correct_answer == "B" %}
                    <option value="B" selected="selected">B</option>
                    {% else %}
                    <option value="B">B</option>
                    {% endif %}
                    {% if question_by_type.correct_answer == "C" %}
                    <option value="C" selected="selected">C</option>
                    {% else %}
                    <option value="C">C</option>
                    {% endif %}
                    {% if question_by_type.correct_answer == "D" %}
                    <option value="D" selected="selected">D</option>
                    {% else %}
                    <option value="D">D</option>
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="id_{{form.marks.name}}">{{form.marks.label}}</label>
                <input name="{{form.marks.name}}" value="{{question.marks}}" class="form-control" id="id_{{form.marks.name}}" min="0" max="327" type="number">
            </div>
        </div>
    </div>


    <br />
    <div class="row">
        <div class="col-4 offset-md-8">
            <div class="form-group">
                <input type="submit" class="form-control btn btn-primary" value="Submit" />
            </div>
        </div>
    </div>

    
</form>

{% endblock %}