{% extends 'dashboard.html' %}

{% block content %}
<h3 class="display-4">Questions Bank</h3>
<hr>

<div class="row">
    <div class="col-3">
        <a href="/dashboard/question-bank/" class="btn btn-block btn-success">Question Bank</a>
    </div>
    <div class="col-3">
        <a href="/dashboard/question-bank/create" class="btn btn-block btn-info">Create New Question</a>
    </div>
    <div class="col-3">
        <a href="/dashboard/question-bank/add-section/" class="btn btn-block btn-warning">Add New Section</a>
    </div>
</div>

<br />

<div class="row" id="exam-table">
    <div class="col-12">
        <table class="table">
            <thead>
                <th>QID</th>
                <th>Section</th>
                <th>Question text</th>
                <th>Details</th>
                <th>Change</th>
            </thead>
            <tbody>
                {% for question in question_bank %}
                    <tr>
                        <td>{{question.id}}</td>
                        <td>{{question.section}} {{candidate.last_name}}</td>
                        <td>{{question.question_text}}</td>
                        <td><a href="/dashboard/question-bank/{{question.id}}/detail/">view</a></td>
                        <td><a href="/dashboard/question-bank/{{question.id}}/edit/">edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock %}